

	<div class="hidden-xs col-sm-1T col-md-1T col-lg-1T">
								<select class="form-control" name="filtroEmpresa[]" id="filtroEmpresa" multiple>
									<option value="1">HS</option>	<!-- Henrique Stefani -->
									<option value="2">QD</option>	<!-- Querodiesel -->
								</select>
							</div>
							<div class="hidden-xs col-sm-1T col-md-1T col-lg-1T">
								<select class="form-control" name="filtroFilial[]" id="filtroFilial" multiple>
									<option value="1">	Matriz			</option>	<!-- HS/QD -->
									<option value="7">	Santo Andre		</option>	<!-- HS -->
									<option value="8">	Simoes Filho	</option>	<!-- HS -->
									<option value="11">	Araucaria		</option>	<!-- HS -->
									<option value="14">	Duque de Caxias	</option>	<!-- HS -->
									<option value="20">	Limeira			</option>	<!-- HS -->
									<option value="2">	Cachoeira do Sul</option>	<!-- QD -->
									<option value="3">	Dom Pedrito		</option>	<!-- QD -->
								</select>
							</div>
							<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
								<select class="form-control" name="filtroSetor[]" id="filtroSetor" multiple>
									<option value="1">	Faturamento		</option>
									<option value="2">	RH				</option>
									<option value="3">	TI				</option>
									<option value="4">	Contabilidade	</option>
									<option value="5">	Comercial		</option>
									<option value="6">	Suprimentos		</option>
									<option value="7">	Manutencao		</option>
									<option value="8">	Seguranca		</option>
									<option value="9">	Cobranca		</option>
									<option value="10">	Insumos			</option>
									<option value="11">	Administrativo	</option>
									<option value="12">	Juridico		</option>
									<option value="13">	Controladoria	</option>
									<option value="14">	Agregados		</option>
									<option value="15">	Operacoes		</option>
									<option value="16">	Telemarketing	</option>
									<option value="17">	CCO				</option>
									<option value="18">	Logistica		</option>
									<option value="19">	Diretoria		</option>
									<option value="20">	Financeiro		</option>
									<option value="21"> Outros			</option>
								</select>
							</div>