<div id="wrapper">

	<div class="container">

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="well">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					
					<!-- <div class="col-xs-6 col-sm-1 col-md-1 col-lg-1">
						<label for="createSLA">Nova SLA</label>
						<button type="button" id="createSLA" class="btn btn-default form-control">+</button>
					</div> -->
					<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
						<label for="novoTipo">Tipo</label>
						<select class="form-control" id="novoTipo" name="novoTipo" required>
							<option></option>
							<option value="1">Incidente</option>
							<option value="2">Ajuste</option>
							<option value="3">Solicitação</option>
							<option value="4">Dúvida</option>
						</select>
					</div>
					<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
						<label for="novoArea">Área</label>
						<select class="form-control" id="novoArea" name="novoArea" required>
							<option></option>
							<option value="1">Infra-estrutura</option>
							<option value="2">Sistemas</option>
							<option value="3">Telefonia</option>
						</select>
					</div>
					<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
						<label for="novoCategoria">Categoria</label>
						<select class="form-control" name="filtroCategoria[]" id="filtroCategoria" required>
							<option value="">	        		</option>
							<option value="1">	Software		</option>
							<option value="2">	Rede			</option>
							<option value="3">	Acesso			</option>
							<option value="4">	Impressora		</option>
							<option value="5">	Hardware		</option>
							<option value="6">	Globus			</option>
							<option value="7">	Petroshow		</option>
							<option value="8">	Mobile			</option>
							<option value="9">	BI / Relatorios	</option>
							<option value="10">	Desenvolvimento	</option>
							<option value="11">	Credito Extra	</option>
							<option value="12">	Celular / Chip	</option>
							<option value="21">	Email			</option>
						</select>
					</div>
					<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
						<label for="novoPrioridade">Prioridade</label>
						<select class="form-control" id="novoPrioridade" name="novoPrioridade" required>
							<option></option>
							<option value="1">Baixa</option>
							<option value="2">Média</option>
							<option value="3">Alta</option>
							<option value="4">Urgente</option>
						</select>
					</div>
					<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
						<label for="novoPrioridade">Tempo estimado</label>
						<input type="time" class="form-control" id="tempoSLA" name="tempoSLA" required>						
					</div>
					<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">		
						<label for="salvarSLA">Salvar</label>
						<input type="submit" class="form-control" id="salvarSLA" name="salvarSLA" value="Salvar" required>						
					</div>
				</div>
				<div style="clear:both; float:none"></div>
			</div>
		</div>

	</div>

</div>	