<div id="wrapper">

	<div class="container">
		<div class="row row-centered">
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-centered login">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3><strong>Help Desk</strong></h3>
					</div>
					<div class="panel-body">
						<form action="login_execute.php" method="post">
							{error}
							
							<h4><strong>Conecte-se</strong></h4>
							
							<input type="text" 		class="form-control" id="user" name="user" placeholder="Usuario" 	required>
							<input type="password" 	class="form-control" id="pass" name="pass" placeholder="Senha" 	required>
							
							<button type="submit" class="btn btn-default form-control"><strong>Acessar</strong></button>
						</form>
					</div>
					<div class="panel-footer">
						<p><strong>Contato:</strong> suporte@EmpresaTeste.com.br</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>